<footer class="site-footer {{page.lang}}">

  <div class="wrapper">

   <h2 class="footer-heading {{page.lang}}">{{ site.title[page.lang] }}</h2>

    <div class="footer-col-wrapper {{page.lang}}">
      <div class="footer-col footer-col-1 {{page.lang}}">
        <ul class="UofKlogo">
            <img src="/assets/111.png" align="middle" style="width:70px; height:80px;">
        </ul>
      </div>

      <div class="footer-col footer-col-2 {{page.lang}}">
        <ul class="contact-list">
            <li>{{ site.title[page.lang] }}</li>
            <li> +249 904698508</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3 {{page.lang}}">
        <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>

</footer>
