<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="width:150px;">
        <img src="{{ '/assets/111.png' | relative_url }}" style="width:70px; height:80px;"/>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>{{ site.title[page.lang] }}</li>
          <li>+249904696503</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p style="font-size:12px;">{{ site.description[page.lang] }}</p>
      </div>
      
    </div>
  </div>
</footer>
