<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="width:100px;">
        <img src="{{ site.baseurl }}/assets/111.png" style="width:70px; height:80px;"/>
      </div>

      <div class="footer-col footer-col-2" style="width:150px">
        <ul class="contact-list">
          <li>{{ site.title[page.language] }}</li>
          <li>+249904696503</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3 ">
        <p style="font-size:12px;">{{ site.description[page.language] }}</p>
      </div>

    </div>
  </div>
</footer>
