<div class="language-selector">
  <!-- get opposite lang -->
  {% if page.lang == 'en' %}{% assign lang_change = 'ar' %}
  {% else %}{% assign lang_change = 'en' %}{% endif %}
  <!-- construct link differently for photo pages, index pages, and regular pages -->
  {% if page.layout == "photo-page" %}
    <a href="{{ baseurl }}/photopages/{{ lang_change }}/{{ page.ref }}.html">
  {% elsif page.ref == 'index' %}
    <a href="{{ site.index[lang_change] | relative_url }}">
  {% else %}
    <a href="{{ baseurl }}/{{ lang_change }}/{{ page.ref }}.html">
  {% endif %}
  <!-- print language and close link -->
  {% if lang_change == 'ar' %}العربية
  {% elsif lang_change == 'en' %}English{% endif %}
    </a>
</div>
