---
layout: default
---
{% assign labels = site.data.archive_labels %}
{% assign language = page.language | strip %}

<article class="post">

  <div class="post-content {{ language }}">

    {% if page.on_server == 'yes' %}
      <img src="http://photos.uofk.edu/largeimages/{{ page.pid }}-1080.jpg" alt="{{ page.pid }}" class="small-photo" style="margin-bottom:50px;max-height:800px;"/>
    {% else %}
    <div style="background-color:#ddd;padding:20px;margin:20px 0px 20px 0px;">
      <p>This image is not currently online. You can arrange a visit to view this item in the archive by contacting us either via email at <a href="mailto:sudanphoto@uofk.edu">sudanphoto@uofk.edu</a> or via Whatsapp at +249904696503</p>
    </div>
    {% endif %}

    <p>
      <b>{{ labels['description'][language] }}</b><br>
      {{ page.description | strip }}
    </p>

    <p>
      <b>{{ labels['_date'][language] }}</b><br>
      {{ page._date | strip }}
    </p>

    <p>
      <b>{{ labels['location'][language] }}</b><br>
      {{ page.location | strip }}
    </p>

    <p>
      <b>{{ labels['pid'][language] }}</b><br>
      {{ page.pid | strip }}
    </p>

    <p>
      <b>{{ labels['collection'][language] }}</b><br>
      {{ page.collection | strip }}
    </p>
  </div>

</article>
